/*styles go here*/

/*p {
    color: red;
}*/

#nav {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
}



.example{
	display: grid;
	grid-template-columns: 1fr;
}

.cards {
    margin: 0 -10px;
    padding: 0;
    list-style: none;
}

.cards li {
    background-color: #7395AE;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
		display: grid;
}

.card1{
  grid-column: 1/3;
}


body {
  margin: 40px;
}

/*.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }


    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 120px  120px  120px;
        grid-template-areas:
               "....... header  header"
                             "sidebar content content";
        background-color: #fff;
        color: #444;
    }*/
.box {
  background-color: #7395AE;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.header {
  background-color: #7395AE;
}


p {
	color: #343840;
    font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
}


#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	  border-bottom: 1px solid #ccc;
}

h1 {
  background-color: white;
}

div {
  background-color: white;
}

p {
  background-color: white;
}


div {
  text-align: center;
}

img {
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 40%;
}



body {
	background-color: white;
	font-size: 16px;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
}

p{
	font-size: 1em;
}

a:link, a:visited
{
  text-decoration: none;
  font-weight: 700;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: #ffffff;
    background-color: #BCCAE6;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}


#nav a:hover, #nav a:active {
    background-color: #BCCAE6;
}


.caption {
    color: #343840;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align:right;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
	border: none;
}

@media screen and (min-width: 599px) {
#nav {
		flex-direction: row;
		justify-content: space-around;
	}

	.about{
		grid-area:a;
	}

	.skills{
		grid-area:b;
	}

	.education{
		grid-area:c;

	}

	.contact{
		grid-area:d;
	}
	.cards{
		display:grid;
    grid-template-columns:1fr 1fr;
		grid-template-areas:
		"a b"
		"c d";
	}
}



@media screen and (min-width: 799px) {
	.item-1 {
		margin-right: auto;
	}

	.cards{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"a b c d";
	}
}


/*Hamburger menu styling*/
body {
  background-color: #7395AE;
  font-family: Helvetica, Arial, sans-serif;
}

nav ul li {
    display: block;
    border-top: 1px #A3AFC7 solid;
		list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #A3AFC7;
    margin: 0;
    padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}


/* CSS for photos page*/
* {
  box-sizing: content-box;
}

body {
  background-color: white;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
	padding: 10px;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: inline-table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}



/*resume styling*/

}
#resume {
  font-family:"Times New Roman", serif;
  color: black;
  font-size: 40px;
  text-align: center;

}


/*contact form styling*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
 width: 100%; /* Full width */
 padding: 12px; /* Some padding */
 border: 1px solid #ccc; /* Gray border */
 border-radius: 4px; /* Rounded borders */
 box-sizing: border-box; /* Make sure that padding and width stays in place */
 margin-top: 6px; /* Add a top margin */
 margin-bottom: 16px; /* Bottom margin */
 resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
 background-color: #4CAF50;
 color: white;
 padding: 12px 20px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
 background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
} 
